
doctype html
html(lang='en')
    include ../common/head
    +head("Users")
    body
        header
            include ../common/navbar
            +navbar(user)
            .container
                .row
                    .col-sm-12.offset-md-2.col-md-8
                        .jumbotron
                            .row
                                .col-sm-12.col-md-12.col-xs-12
                                    if (users_result && users_result != '')
                                        h2.text-center Users
                                        table.table.table-hover.table-striped.table-bordered
                                            thead
                                                tr
                                                    th Email
                                                    th Actions
                                                    th Actions
                                            tbody
                                                each user_result in users_result
                                                    tr(id=user_result.id)
                                                        td #{user_result.email}
                                                        td
                                                            a(href="/user/" + user_result.id) Details
                                                        td
                                                            button(onclick=`deleteUser('${user_result.id}')`).btn.btn-primary Delete
                                    else
                                        h2.text-center Sorry, No results found

        include ../common/footer
        +footer()
        script(src='/javascripts/users.js')
